//  全局样式
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
}

html {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.2em;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
  color: #343440;
  text-decoration: none;
  box-sizing: border-box;
}